.reset{
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
    margin-left: 10px;
}
.custom_actions{
    width: 12%;
    text-align: center;
    padding-right: 0.5rem !important;
    background-color: #ffffec;
}
._custom_actions{
    text-align: center;
    padding-right: 0.5rem !important;
    background-color: #ffffec;
}

.custom_actions .btn-group .btn{
    margin-left: 1px;
    margin-right: 1px;
}

.custom_title {
    margin-top: 13px;
}
.custom_title p {
    font-size: 24px;
    line-height: 14px;
    color: #428edf;
}

.navbar-brand {
    max-width: 122px;
    width: 100%;
    object-fit: cover;
    padding: 0;
}

.custom_font_size_sm {
    font-size: 16px;
    line-height: 16px;
}

.custom_font_size_xs {
    font-size: 10px;
    line-height: 14px;
}

.user-footer:after {
    display: none!important;
}

.text-maroon {
    color: #800000!important;
}
.nav-item.dropdown.user-menu.show .dropdown-menu:hover, .nav-item.dropdown.user-menu.show .dropdown-menu.show:hover .user-header.bg-primary, .nav-item.dropdown.user-menu.show .dropdown-menu.show:hover .user-footer {
    color: #0c0c0d !important;
    transition: .3s all ease;
    background-color: rgba(255, 255, 255, .5)!important;
}


.select2-container .select2-selection--single{
    height: 38px !important;
    padding-left: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 0;
    background-color: #007bff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin: 0;
    color: #fff;
    border-color: #fff;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: max-content !important;
    min-height: 24px;
}

._custom_actions blockquote {
    margin: 0;
}
.actions_group{
    background-color: #ffffec;
    text-align: center;
}
.custom_margin{
    margin-bottom: 2px;
}
.timestamps_collapse_body{
    width: 250px;
    margin: auto;
}


.bg-warning, .bg-warning>a {
    color: #000204!important;
    background-color: #007bff47!important;

}

.bg-success, .bg-success>a {
    color: #fff!important;
    background-color: #1a3048!important;
}

.bg-info, .bg-info>a {
    color: #fff!important;
    background-color: #1a3048!important;
}

.card-success:not(.card-outline)>.card-header, .card-success:not(.card-outline)>.card-header a {
    color: #fff;
    background-color: #1746A2;
}

.card-danger:not(.card-outline)>.card-header, .card-danger:not(.card-outline)>.card-header a {
    color: #fff;
    background-color: #1746A2;
}


