.custom_actions{
    width: 12%;
    text-align: center;
    padding-right: 0.5rem !important;
    background-color: #ffffec;
}
._custom_actions{
    text-align: center;
    padding-right: 0.5rem !important;
    background-color: #ffffec;
}
.custom_actions .btn-group .btn{
    margin-left: 1px;
    margin-right: 1px;
}

.custom_title {
    margin-top: 13px;
}
.custom_title p {
    font-size: 24px;
    line-height: 14px;
    color: #428edf;
}

.navbar-brand {
    max-width: 122px;
    width: 100%;
    object-fit: cover;
    padding: 0;
}

.custom_font_size_sm {
    font-size: 16px;
    line-height: 16px;
}

.custom_font_size_xs {
    font-size: 10px;
    line-height: 14px;
}

.user-footer:after {
    display: none!important;
}

.text-maroon {
    color: #800000!important;
}
.nav-item.dropdown.user-menu.show .dropdown-menu:hover, .nav-item.dropdown.user-menu.show .dropdown-menu.show:hover .user-header.bg-primary, .nav-item.dropdown.user-menu.show .dropdown-menu.show:hover .user-footer {
    color: #0c0c0d !important;
    transition: .3s all ease;
    background-color: rgba(255, 255, 255, .5)!important;
}


.select2-container .select2-selection--single{
    height: 38px !important;
    padding-left: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 0;
    background-color: #007bff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin: 0;
    color: #fff;
    border-color: #fff;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: max-content !important;
    min-height: 24px;
}

.custom-control-label::before {

}

